body {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #47a3da;
}

header {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

h5 {
  letter-spacing: .5em;
}

form { /* container for the entire form*/
  width: 90%;
  margin-left: 5%;
}

div { /*container for each column*/
  width: 30%;
  margin-left: 10px;
  display: inline-block;
  /*border: 1px solid black;*/

}

div.column2of3{
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto; /*aligning the column at the top horizontally with the other 2*/
  /*http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best*/
}

div.column3of3{
  padding-left: 20px;
}

label {
  padding-top: .5em;
  display: block;
  font-size: 1em;
  text-transform: uppercase;
}


input{
  width: 350px;
  height: 50px;
  font-size: 1.2em;
  background-color: #47a3da;
  border: 3px;
  border-style: solid; /* gets rid of ugly bevel: http://stackoverflow.com/questions/12791631/remove-inner-shadow-of-text-input*/
  margin-bottom: 1em;
}

input:focus{
  color: #10689a;
}

::-webkit-input-placeholder{
  font-size: 1.1em;
  color: #10689a;
  font-style: italic;
}

select{
  width: 350px;
  -webkit-appearance: menulist-button; /*http://stackoverflow.com/questions/20656114/how-to-style-increase-the-height-of-select-box-in-css*/
  height: 35px;
  background-color: #47a3da;

}

input.submit {
  margin-left: 35%;
  width: 300px;
  text-transform: uppercase;
  background-color: #10689a;
}

textarea {
  width: 350px;
  height: 150px;
}
