body {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #47a3da;
}

header {
  width: 90%;
  margin-left: 5%;
}

form {
  border: 3px solid yellow;
  width: 90%;
  margin-left: 5%;
}

div {
  border: 3px solid green;
  width: 30%;
  display: inline-block;
}

div.column1of3{
}

div.column2of3{
  margin-top: -10%;
}

label {
  padding-top: .5em;
  display: block;
  font-size: 1em;
  text-transform: uppercase;
}

input{
  width: 350px;
  height: 40px;
  background-color: #47a3da;
  border-style: solid; /* gets rid of ugly bevel: http://stackoverflow.com/questions/12791631/remove-inner-shadow-of-text-input*/
  margin-bottom: 1em;

}

select{
  width: 350px;
  height: 40px;

}

input.submit {
  margin-left: 35%;
}
